.identite_fond {
     border: 10px solid #000000; /* Bordure grise */
     border-radius: 10px; /* Coins arrondis */
     padding: 30px; /* Espacement interne */
     max-width: 300px; /* Largeur maximale */
     margin-top: 30%;
     margin-left: 5%;
   }

   /* Ajoutez cette classe pour centrer horizontalement le contenu */
.identite_fond_texte {
     text-align: left;
     font-size: 20px;

   }
/* Ajoutez ces styles pour le tableau de sous-fonds */
.sub-funds-container {
     display: flex;
     justify-content: center;
     margin-top: 120px;
   }
   
   .sub-funds-table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
   }
   
   .sub-funds-table th,
   .sub-funds-table td {
     border: 1px solid black;
     padding: 8px;
   }
   
   /* Ajoutez ces styles pour les boîtes de statut */
   .status-boxes {
     margin-top: 120px;
     display: flex;
     justify-content: center;
     column-gap: 20px;
     justify-content: space-between;
   }
   
   .box {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 200px;
     height: 100px;
     text-align: center;
     line-height: 1;
     font-weight: bold;
     border-radius: 10px;
     border: 1px solid #ccc;
   }
   
   .green-box {
     background-color: green;
     color: white;
   }
   
   .orange-box {
     background-color: orange;
     color: white;
   }
   
   .red-box {
     background-color: red;
     color: white;
   }
   
   .search-add {
     display: inline-block;
   }

   