.identite_fond {
     border: 10px solid #000000; /* Bordure grise */
     border-radius: 10px; /* Coins arrondis */
     padding: 30px; /* Espacement interne */
     max-width: 300px; /* Largeur maximale */
     /*margin-top: 30%;*/
     margin-left: 10%;
   }

   /* Ajoutez cette classe pour centrer horizontalement le contenu */
.identite_fond_texte {
     text-align: left;
     font-size: 20px;
}

.total-boxe_sf{
  background-color: rgba(213, 213,213, 0.9);
}

.popup-Button{
  color: aliceblue;
  margin-left: 30%;
}

.inline-div {
  display: inline-flex; /* or use 'display: inline;' */
  background-color: lightblue;

  align-items: center;
  /*justify-content: center;*/
  width: 100%;
  margin-top: 10%;
}

.color-box{
  border: 10px solid #000000; /* Bordure grise /
  border-radius: 10px; / Coins arrondis /
  padding: 30px; / Espacement interne /
  max-width: 300px; / Largeur maximale */
  margin-left: 30%;
  display: flex;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}


.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9c89f3;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.Modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


.Modal-close {
  background: red;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}


.Modal-close:hover {
  color: #888;
}


.Modal-body {
  padding: 20px;

}


.Modal-footer {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #ddd;
}