
.inline-div {
  display: flex;
  justify-content: space-between;  /*Ajustez selon vos besoins */
  width: 100%;
  padding: 40px; /* Ajoutez un padding pour l'espace entre les éléments */
}

.title_sf_left{
  margin-right: 15%;
  width: 100%;
}

.sf_right{
  display: flex;
  justify-content: flex-end;  /*Ajustez selon vos besoins */
  width: 100%;
  padding: 40px; /* Ajoutez un padding pour l'espace entre les éléments */
}




.status-boxes {
    margin-top: 120px; /* Ajustez la valeur selon vos besoins */
    display: flex;
    justify-content: center;
    column-gap: 1px;
    /*justify-content: space-between;
    /*background-color: cadetblue;*/
    padding: 20px 10px 10px 10px;
  }

  .box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 100px;
    text-align: center;
    line-height: 1; /* Set line-height to 1 to center the text vertically */
    font-weight: bold;
    border-radius: 10px; /* Adjust the border-radius as needed for rounded corners */
    border: 1px solid #ccc; /* Optional: Add a border for styling */
  }

  .green-box {
    background-color: green;
    color: white;
  }

  .orange-box {
    background-color: orange;
    color: white;
  }

  .red-box {
    background-color: red;
    color: white;
  }

  .search-add{
    display: inline-block
  }

  .big-number {
    font-size: 44px; /* Ajustez la taille de la police du chiffre selon vos besoins */
    padding-right: 20px;
  }